body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: slategray;
}
#logo {
  font-family: 'Knewave', cursive;
  text-transform: uppercase;
  color: indianred;
}

.para{
  margin: 0 auto;
  width: 600px;
}
