{{> header}}

<main>
  <div class="splash">
    <div class="about-container">
      <h2>About</h2>
      <p class="para">Achieve is a web app built using the Riot Games Developer API that allows you to track achievements for your League of Legends account. It is light-weight and minimalistic, that awards you achievements on your recent games.</p>
    </div>
  </div>
</main>

{{> footer}}
