{{> header}}

<main>
  <div class="splash">
    <div class="about-container">
      <h2>About</h2>
      <p class="para">Achieve is a web app for League of Legends that allows you to track achievements for your account as you play games.</p>
      <p class="para">It is build using the Riot Games Developer API and runs in Node.js. It uses Express server to serve files, node-fetch for HTTP requests, and Mustache template engine for rendering pages.</p>
    </div>
  </div>
</main>

{{> footer}}
