<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Achieve</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave|Source+Sans+Pro" rel="stylesheet">
</head>

<body>

  <header>
    <div id="logo"><a href="/">Achieve</a></div>
    <div><a href="/list">List</a></div>
    <div><a href="/about">About</a></div>
    <!-- <h4 id="subtitle">Achievements for League of Legends</h4> -->
  </header>
