{{> header}}

<main>
  <form class="" action="/search" method="post">
    <input type="text" name="name" value="" autofocus placeholder="Summoner Name...">
    <br>
    <input type="submit" name="" value="SEARCH">
  </form>
  <p class="para">
    Achieve is a web app built using the Riot Games Developer API that allows you to track achievements for your League of Legends account. It is light-weight, minimalistic, and mobile friendly, that shows achievements from recent games.
  </p>
</main>

{{> footer}}
