{{> header}}

<main>
  <div class="splash">
    <div class="splash-container">
      <div class="splash-info">
        <h2>How it works</h2>
        <p class="para">
          <span class="">Achieve</span> is a fan site that brings various extra achievements to the popular game, "League of Legends", providing players additional incentives to play their best.
        </p>
        <p class="para">
          By searching their account names, players can view awards earned for recent games, based on Achieve's achievement criteria.
        </p>
        <p class="para">View the achievements list <a href="/list">here</a>.</p>
      </div>
      <div class="splash-form">
        <h2>Find a Summoner</h2>
        <form class="" action="/search" method="post">
          <input type="text" name="name" value="" autofocus placeholder="Summoner Name...">
          <br>
          <input class="submit-button" type="submit" name="" value="SEARCH">
        </form>
      </div>
    </div>

  </div>
</main>

{{> footer}}
