{{> header}}

<main>
  <div class="splash">
    <div class="list-container">
      <h2>Achievements</h2>
      <ul>

        {{#medals}}
        <li>
          <img src="{{image}}" alt="">
          <br>
        <b>{{name}}</b> - {{info}}
        </li>
        <br>
        <br>
        

        {{/medals}}
      </ul>

    </div>
  </div>
</main>

{{> footer}}
