<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Achieve</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave|Source+Sans+Pro" rel="stylesheet">
</head>

<body>
  {{> header}}

  <main>
    <div class="banner">
      <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/{{profileIconId}}.png" alt="">
      <h2>{{name}}</h2>
    </div>
    {{#gameStats}}
    <div class="matches-container">
      <div class="match-container">
        <div class="top-section">
          <div class="icon-container">
            <img class="championIcon {{#win}}win-border{{/win}}{{^win}}loss-border{{/win}}" src="https://ddragon.leagueoflegends.com/cdn/7.20.3/img/champion/{{championName}}.png" alt="champion icon">
            <span class="lane">{{lane}}</span >
          </div>
          <div class="spells-container">
            <img src="" alt="">
            <img src="" alt="">
          </div>
          <div class="items-container">
            {{#items}}
            <div class="">
              <img src="http://ddragon.leagueoflegends.com/cdn/7.20.3/img/item/{{.}}.png" alt="">
            </div>
            {{/items}}
          </div>
          <div class="stats-container">
            <span>level {{level}}</span>
            <span>{{cs}}cs</span>
            <span>{{gold}}g</span>
          </div>
          <div class="kda-container">
            <span>{{kills}} / {{deaths}} / {{assists}}</span>
          </div>
        </div>
        <div class="bottom-section">
          <div class="win-container ">
            x minute {{#win}}<span class="win">WIN</span>{{/win}}
            {{^win}}<span class="loss">LOSS</span>{{/win}}
          </div>
          <div class="medals-container">

          </div>
        </div>
      </div>
    </div>
    {{/gameStats}}
  </main>
  <div class="back-button">
    <a href="/">Back</a>
  </div>

  {{> footer}}

</body>

</html>
