:root {
  --light-purple: #ca92c4;
  --light-yellow: #d0d082;
  --win-color: #97cd5c;
  --loss-color: indianred;
  /*--highlight-color: #d14a55;*/
  --highlight-color: indianred;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-style:
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  /*background-color: #383838;*/
  background-color: rgba(20, 20, 20, .95);
  background: linear-gradient(to bottom, #414345, #232526);
  background-attachment: fixed;
  color: lightgray;
  margin: 0;
  position: relative;
  /*min-height: 100%;*/
  /*padding-bottom: 180px;*/
  background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  background: rgba(20, 20, 20, 1);
  /*margin-bottom: 30px;*/
  /*background: rgba(20, 20, 20, .95);*/
  /*background: rgba(20, 20, 20, .9);*/
}

header div {
  flex-grow: 1;
}

header div a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  /*text-shadow: 2px 2px 17px #0c0c0c;*/
  /*font-family: 'Knewave', cursive;*/
  letter-spacing: 5px;
}

header div a:hover {
  /*position: relative;
  top: 2px;*/
  color: indianred;
}

main {
  flex-basis: 100%;
}

img {
  width: 100px;
  border-radius: 100px;
}

hr {
  width: 100%;
  border: 1px solid gray;
}

#subtitle {
  margin: 0 auto 20px auto;
  text-shadow: 2px 2px 20px #000000;
  font-size: 1.4em;
  letter-spacing: 2px;
}

#logo {
  font-size: 2.5em;
  text-align: left;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#logo span {
  font-size: .4em;
  text-transform: none;
  position: relative;
  top: -15px;
  letter-spacing: 1px;
}

#logo a {
  position: relative;
  top: -5px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: 'Knewave', cursive;
  /*text-shadow: 2px 2px 17px #0c0c0c;*/
  text-decoration: none;
  color: indianred;
}

#logo a:hover {
  text-shadow: none;
  text-shadow: 2px 2px 17px rgba(12, 12, 12, 0.35);
  color: white;
}

.profile-icon {
  position: relative;
  border-width: 10px;
  border-style: inset;
}

.banner {
  background: rgba(20, 20, 20, 1);
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  font-size: 2em;
}

.matches-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  text-align: left;
}

.match-container {
  flex-basis: 100%;
  background: rgba(20, 20, 20, 1);
  padding: 10px;
  /*border-radius: 20px;*/
  margin-bottom: 20px;
  position: relative;
  display: flex;
  /*flex-wrap: wrap;*/
  /*box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.68);*/
}

.match-left-half {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.win-container {
  color: gray;
}

.icon-container {
  position: relative;
}

.match-right-half {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.match-stats {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 5px;
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.spells-container div {
  margin-bottom: 10px;
}

.spells-container img {
  width: 40px;
  border-radius: 10px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
  text-align: center;
  flex-basis: 30%;
}

.items-container div {
  flex-basis: 33%;
}

.items-container img {
  width: 40px;
  border-radius: 10px;
}

.match-medals {
  width: 100%;
  padding: 5px;
  display: flex;
}

.win {
  color: #97cd5c;
}

.loss {
  color: indianred;
}

.win-border {
  border: 4px solid #97cd5c;
  /*box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.68);*/
}

.loss-border {
  border: 4px solid indianred;
}

.summoner-name {
  margin: 0 auto;
  font-family: 'Knewave', cursive;
  letter-spacing: .2em;
}

.profile-icon-container {
  position: relative;
  margin: auto;
  width: 150px;
}

.summoner-rank {
  position: absolute;
  right: 45px;
  bottom: -15px;
  color: black;
  /* background: rgb(156, 75, 75); */
  padding: 5px;
  font-size: .6em;
  border-radius: 10px;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.stats-container span {
  margin-bottom: 10px;
}

.kda-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.kda-container span {
  margin-bottom: 10px;
}

.category-header {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: gray;
}

.medals-header {
  width: 100%;
  color: gray;
  margin-bottom: 10px;
}

.champion-header {
  color: #a5a2a2;
  width: 100%;
  font-family: Knewave;
  font-size: 1.5em;
  letter-spacing: .1em;
}

.queue-container {
  color: gray;
}

.medal-container {
  margin-right: 15px;
}

.medals-container div {
  /*flex-basis: 33%;*/
  /*width: 30px;*/
  /*padding-left: 10px;*/
}

.medal-container img {
  width: 40px;
  border-radius: 100px;
  border: 2px outset #88671d;
}

.lane {
  position: absolute;
  bottom: 0px;
  color: black;
  background: rgb(156, 75, 75);
  padding: 5px;
  font-size: .9em;
  border-radius: 20px;
}

.top-section {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-section {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 45px;
}

.back-button {
  /*flex-basis: 100%;*/
  background: rgba(20, 20, 20, .7);
  margin: auto;
  width: 10%;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.68);
}

.back-button a {
  text-decoration: none;
  color: lightgray;
}

.back-button:hover {
  color: indianred;
  position: relative;
  top: 2px;
  box-shadow: none;
}

.para {
  font-size: 1.3em;
  margin: 20px auto;
  width: 600px;
  text-shadow: 1px 1px 10px #0c0c0c;
  line-height: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  list-style: none;
  padding-right: 5px;
  /*flex-grow: 1;*/
}

.splash {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
}

.splash-info {
  /*flex-basis: 20%;*/
  /*flex-grow: 1;*/
  /*flex-basis: 50%;*/
  background: rgba(20, 20, 20, .95);
  /*margin: auto;*/
  /*border-radius: 5px;*/
  padding: 20px;
  min-height: 300px;
  margin-right: 100px;
}

.splash-info h2, .splash-form h2 {
  font-family: 'Knewave', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  /*font-size: 1.5em;*/
}

.para a {
    text-decoration: none;
    color: var(--highlight-color);
}

.splash-form {
  /*flex-grow: 1;*/
  background: rgba(20, 20, 20, .95);
  /*margin: auto;*/
  /*border-radius: 5px;*/
  padding: 20px;
  height: 300px;
}

form {
  margin: auto;
  width: 250px;
}

input {
  width: 100%;
  padding: 10px;
  border: 0;
  margin-bottom: 10px;
  /*box-shadow: 3px 5px 5px #251d1d;*/
}

input[type="text"] {
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
}

input[type="text"]:hover {
  box-shadow: none;
  /*position: relative;
  top: 1px;*/
}

input[type="submit"] {
  font-family: 'Knewave', cursive;
  color: rgb(20, 20, 20);
  background-color: indianred;
  font-size: 20px;
  padding: 5px 10px;
}

input[type="submit"]:hover {
  box-shadow: none;
  color: white;
  /*background-color: black;*/
}

footer {
  font-size: .8em;
  padding: 30px 0px;
  background: rgba(20, 20, 20, 1);
  width: 100%;
  color: gray;
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
}

footer p {
  margin: 10px auto;
  width: 1000px;
}

.highlight-red {
  color: var(--highlight-color);
}
